<div class="row">
    <div class="col-sm-4">
                     <%=  link_to "Sign in with FACEBOOK","/auth/facebook"%><br>
                     <div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>

      </div>
          <div class="col-sm-4">

            </div>


      <div class="col-sm-4">

      </div>

  </div>
</div>
 



 
